<div class="masthead">
  <h3 class="muted">I Luv Py - A Weight Tracker Written in Django</h3>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li id="homeTab" class="active">
            <a href="/tracker">Home</a>
          </li>
          {% if user.is_authenticated %}
            <li id="dashboardTab">
              <a href="/tracker/dashboard">Dashboard</a>
            </li>
            <li id="logoutTab">
              <a href="/tracker/logout/">Logout</a>
            </li>
          {% else %}
            <li id="loginTab">
              <a href="/accounts/login/">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>