<div class="masthead">
  <h3 class="muted">I Luv Py - A Weight Tracker Written in Django</h3>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li class="active">
            <a href="/tracker">Home</a>
          </li>
          {% if user %}
            <li>
              <a href="/tracker/dashboard">Dashboard</a>
            </li>
            <li>
              <a href="/accounts/logout/">Logout</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>